* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #FFFFFF;
}

header, footer {
  background-color: #000000;
  height: 55px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Cinzel', serif;
  position: sticky;
  top: 0;
  z-index: 2;
}

header img {
  height: 45px;
  padding-top: 5px;
}

header h2 {
  color: #FFFFFF;
  font-size: .75em;
}

header h2, header img {
  padding-right: 20px;
}

header h2:hover {
  cursor: pointer;
  color: #DDDDDD;
}

.hero {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  position: relative;
  color: #FFFFFF;
  overflow: hidden;
}

.hero > .hero-text {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  z-index: 1;
}

.hero-text > h1 {
  font-size: 6em;
  white-space: nowrap;
  font-family: 'Meddon', cursive;
}

.hero-text > h2 {
  font-size: 1.25em;
  font-family: 'Cinzel', serif;
}

.hero img {
  width: 100%;
}

#lorem {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Cinzel', serif;
  text-align: justify;
}

#sub-lorem {
  width: 60%;
  margin: 5% auto;
  font-family: 'Cinzel', serif;
  text-align: justify;
}

#lorem div {
  width: 25%;
}

#lorem, #sub-lorem {
  font-size: .75em;
}

#lorem h3, #sub-lorem h3 {
  font-size: 1.5em;
  font-family: 'Meddon', cursive;
  color: #7a0408;
  cursor: pointer;
  border-top: 1px solid #FFFFFF;
  padding-top: 2%;
}

#lorem h3:hover, #sub-lorem h3:hover, span {
  color: #c40b13;
}

#lorem p #sub-lorem p {
  text-align: left;
  line-height: normal;
}

#contact {
  width: 80%;
  margin: 0 auto;
}

#contact > h1 {
  font-size: 2em;
  font-family: 'Meddon', cursive;
  color: #7a0408;
  padding-top: 2%;
}

#contact > h2 {
  font-size: 1em;
  font-family: 'Cinzel', serif;
  color: #FFFFFF;
  padding-top: 2%;
  padding-bottom: 5%;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form > label {
  font-family: 'Cinzel', serif;
}

form > input {
  width: 40%;
}

input[type="submit"] {
  width: 25%;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: #7a0408;
}

footer {
  justify-content: center;
  margin-top: 200px;
  font-family: 'Meddon', cursive;
}

footer img {
  height: 45px;
  padding: 5px;
}

footer:hover {
  cursor: pointer;
  color: #DDDDDD;
}
