.header-footer, header, .footer-row {
  background-color: #000000;
  height: 55px;
  display: flex;
  align-items: center;
  font-family: "Cinzel", serif;
  position: sticky;
  z-index: 2; }

.lorem-h3, #lorem h3, #sub-lorem h3 {
  font-size: 1.5em;
  font-family: "Meddon", cursive;
  color: #7a0408;
  cursor: pointer;
  border-top: 1px solid #FFFFFF;
  padding-top: 2%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #000000;
  color: #FFFFFF; }

header {
  justify-content: flex-end;
  top: 0; }
  header img {
    height: 45px;
    padding-top: 5px;
    padding-right: 20px; }
  header h2 {
    color: #FFFFFF;
    font-size: .75em;
    padding-right: 20px; }
  header h2:hover {
    cursor: pointer;
    color: #DDDDDD; }

.hero {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  position: relative;
  color: #FFFFFF;
  overflow: hidden; }
  .hero .hero-text {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    z-index: 1; }
    .hero .hero-text h1 {
      font-size: 6em;
      white-space: nowrap;
      font-family: "Meddon", cursive; }
    .hero .hero-text h2 {
      font-size: 1.25em;
      font-family: "Cinzel", serif; }
  .hero img {
    width: 100%; }

#lorem {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Cinzel", serif;
  text-align: justify;
  font-size: .75em; }
  #lorem div {
    width: 25%; }
  #lorem h3:hover {
    color: #c40b13; }
  #lorem p {
    text-align: left;
    line-height: normal; }

#sub-lorem {
  width: 60%;
  margin: 5% auto;
  font-family: "Cinzel", serif;
  text-align: justify;
  font-size: .75em; }
  #sub-lorem h3:hover {
    color: #c40b13; }
  #sub-lorem p {
    text-align: left;
    line-height: normal; }

span {
  color: #c40b13; }

#contact {
  width: 80%;
  margin: 0 auto; }
  #contact h1 {
    font-size: 2em;
    font-family: "Meddon", cursive;
    color: #7a0408;
    padding-top: 2%;
    text-align: center; }
  #contact h2 {
    font-size: .75em;
    font-family: "Cinzel", serif;
    color: #FFFFFF;
    padding-top: 2%;
    padding-bottom: 5%;
    width: 60%;
    margin: 0 auto; }
  #contact h6 {
    font-size: .5em;
    font-family: "Cinzel", serif;
    color: #FFFFFF;
    width: 85%;
    margin: 0 auto 10% auto;
    text-align: center; }

form {
  display: flex;
  align-items: center;
  flex-direction: column; }
  form label {
    font-family: "Cinzel", serif; }
  form input {
    width: 40%; }

input[type="submit"] {
  width: 25%; }

input[type="submit"]:hover {
  cursor: pointer;
  color: #7a0408; }

#message {
  text-align: center;
  color: #7a0408;
  padding-top: 3%;
  font-family: "Cinzel", serif; }

footer {
  width: 100%; }
  footer img {
    height: 45px;
    padding: 5px; }

.footer-row {
  justify-content: center;
  font-family: "Meddon", cursive; }
  .footer-row h6 {
    font-family: "Cinzel", serif;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: -25px; }

footer:hover {
  cursor: pointer;
  color: #DDDDDD; }

@media (max-width: 830px) {
  .hero {
    height: 400px; }
    .hero .hero-text h1 {
      font-size: 4em; }
    .hero .hero-text h2 {
      font-size: .75em; }

  .header-footer, header, .footer-row {
    height: 25px;
    display: flex; }

  header img {
    height: 20px;
    padding-top: 2px;
    padding-right: 10px; }

  .footer-row h6 {
    margin-top: 5%;
    margin-bottom: 5%; } }
@media (max-width: 650px) {
  .hero {
    height: 300px; }
    .hero .hero-text h1 {
      font-size: 3em; }
    .hero .hero-text h2 {
      font-size: .5em; }

  #lorem {
    flex-direction: column;
    align-items: center; }
    #lorem div {
      width: 80%; }
    #lorem p {
      text-align: left;
      line-height: normal; }

  #sub-lorem {
    width: 80%; } }
@media (max-width: 400px) {
  .hero {
    height: 200px; }
    .hero .hero-text h1 {
      font-size: 2em; }
    .hero .hero-text h2 {
      font-size: .5em; }

  header {
    justify-content: space-around; }

  .footer-row h6 {
    margin-top: 10%;
    margin-bottom: 10%; } }

/*# sourceMappingURL=style.css.map */
