$dark-red: #7a0408;
$light-red: #c40b13;
$black: #000000;
$white: #FFFFFF;
$cinzel: 'Cinzel', serif;
$meddon: 'Meddon', cursive;

.header-footer {
  background-color: $black;
  height: 55px;
  display: flex;
  align-items: center;
  font-family: $cinzel;
  position: sticky;
  z-index: 2;
}

.lorem-h3 {
  font-size: 1.5em;
  font-family: $meddon;
  color: $dark-red;
  cursor: pointer;
  border-top: 1px solid $white;
  padding-top: 2%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $black;
  color: $white;
}

header {
  @extend .header-footer;
  justify-content: flex-end;
  top: 0;
  img {
    height: 45px;
    padding-top: 5px;
    padding-right: 20px;
  }
  h2 {
    color: $white;
    font-size: .75em;
    padding-right: 20px;
  }
  h2:hover {
    cursor: pointer;
    color: #DDDDDD;
  }
}

.hero {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  position: relative;
  color: $white;
  overflow: hidden;
  .hero-text {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    z-index: 1;
    h1 {
      font-size: 6em;
      white-space: nowrap;
      font-family: $meddon;
    }
    h2 {
      font-size: 1.25em;
      font-family: $cinzel;
    }
  }
  img {
    width: 100%;
  }
}


#lorem {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: $cinzel;
  text-align: justify;
  font-size: .75em;
  div {
    width: 25%;
  }
  h3 {
    @extend .lorem-h3;
  }
  h3:hover {
    color: $light-red;
  }
  p {
    text-align: left;
    line-height: normal;
  }
}

#sub-lorem {
  width: 60%;
  margin: 5% auto;
  font-family: $cinzel;
  text-align: justify;
  font-size: .75em;
  h3 {
    @extend .lorem-h3;
  }
  h3:hover {
    color: $light-red;
  }
  p {
    text-align: left;
    line-height: normal;
  }
}

span {
  color: $light-red;
}

#contact {
  width: 80%;
  margin: 0 auto;
  h1 {
    font-size: 2em;
    font-family: $meddon;
    color: $dark-red;
    padding-top: 2%;
    text-align: center;
  }
  h2 {
    font-size: .75em;
    font-family: $cinzel;
    color: $white;
    padding-top: 2%;
    padding-bottom: 5%;
    width: 60%;
    margin: 0 auto;
  }
  h6 {
    font-size: .5em;
    font-family: $cinzel;
    color: $white;
    width: 85%;
    margin: 0 auto 10% auto;
    text-align: center;
  }
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  label {
    font-family: $cinzel;
  }
  input {
    width: 40%;
  }
}

input[type="submit"] {
  width: 25%;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: $dark-red;
}

#message {
  text-align: center;
  color: $dark-red;
  padding-top: 3%;
  font-family: $cinzel;
}

footer {
  width: 100%;
  img {
    height: 45px;
    padding: 5px;
  }
}

.footer-row {
  @extend .header-footer;
  justify-content: center;
  font-family: $meddon;
  h6 {
    font-family: $cinzel;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: -25px;
  }
}

footer:hover {
  cursor: pointer;
  color: #DDDDDD;
}
